html
    background-color: #28313A 

body
    padding-top: 50px
    height: 100vh
    background-color: #28313A 
    color: #fff



    

    input
        margin: 20px
        width: 50px
        margin-bottom: 20px   
        text-align: center
        color:  #28313A 

    .inputs
        text-align: center